# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [23]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [24]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [25]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [44]:
q_product= data.groupby(["CustomerID","ProductName"]).sum()
q_product

                                          SalesID  ProductID  Quantity
CustomerID ProductName
33         Apricots - Dried                172592        324         1
           Assorted Desserts              5363705        219         1
           Bandage - Flexible Neon        6299165        273         1
           Bar Mix - Pina Colada, 355 Ml  3147536        281         1
           Beans - Kidney, Canned         6507033        300         1
...                                           ...        ...       ...
98200      Vol Au Vents                   5160346        272        50
           Wasabi Powder                  4438427         80        25
           Wine - Fume Blanc Fetzer       6226060         76        25
           Wine - Hardys Bankside Shiraz   266676        360        25
           Yogurt - French Vanilla        2112061        320        25

[63628 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [84]:
product_table = pd.pivot_table(q_product, values='Quantity', index='ProductName',
                    columns=['CustomerID'], fill_value=0)


product_table

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,25,0,0,0,0,0,0
Yoghurt Tubes,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,25,0,0
"Yogurt - Blueberry, 175 Gr",0,1,0,0,0,0,0,0,0,0,...,25,0,0,25,0,0,0,0,0,0
Yogurt - French Vanilla,1,0,0,1,0,0,2,0,0,1,...,0,0,25,0,0,0,0,0,0,25
Zucchini - Yellow,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [85]:
distance = pd.DataFrame(1/(1 + squareform(pdist(product_table.T, 'euclidean'))),index=product_table.columns, columns=product_table.columns)
distance

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [86]:
customerID = 639

top_similarities =distance[customerID].sort_values(ascending=False).index.values[1:6]
top_similarities

array([3317, 3535, 3074, 3305,  649])

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [109]:
sim_ptable=q_product.loc[top_similarities]
sim_ptable

                                          SalesID  ProductID  Quantity
CustomerID ProductName
3317       Bay Leaf                       2240383        202         1
           Beef - Ground Medium           6007552         45         1
           Beef - Rib Eye Aaa             2367688        244         1
           Butter - Unsalted              4278889        402         1
           Cheese - Victor Et Berthold     703028        316         1
...                                           ...        ...       ...
649        Wine - Fume Blanc Fetzer       4277854         76         1
           Wine - Magnotta - Cab Sauv     6038914          6         1
           Wine - Prosecco Valdobiaddene  4185058        211         1
           Wine - White Cab Sauv.on       5634627        380         1
           Yoghurt Tubes                  6659419        358         2

[282 rows x 3 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [99]:
top_cust_pro = sim_ptable.groupby(['ProductName']).sum().sort_values('Quantity', ascending=False)
top_cust_pro

                                SalesID  ProductID  Quantity
ProductName
Cod - Black Whole Fillet       12214649       1212         4
Wine - Ej Gallo Sierra Valley  10558974       1768         4
Yoghurt Tubes                   9382599        537         3
Pepper - Black, Whole           7058175        561         3
Halibut - Steaks                9157110         24         3
...                                 ...        ...       ...
Hinge W Undercut                5763678        297         1
Ice Cream Bar - Drumstick       1330480        154         1
Ice Cream Bar - Oreo Cone       5317028        413         1
Isomalt                         4125106        350         1
Yogurt - French Vanilla         6757819        320         1

[222 rows x 3 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [111]:
merged_topproducts=top_cust_pro.merge(q_product.loc[customerID],on='ProductName',how='right')
merged_topproducts

,SalesID_x,ProductID_x,Quantity_x,SalesID_y,ProductID_y,Quantity_y
ProductName,,,,,,
Anchovy Paste - 56 G Tube,3904179.0,131.0,1.0,618381,131,1
Appetizer - Mushroom Tart,NaN,NaN,NaN,6707403,326,1
Assorted Desserts,NaN,NaN,NaN,2074153,219,1
Bread - Italian Roll With Herbs,NaN,NaN,NaN,557504,287,1
Bread - Raisin Walnut Oval,813495.0,42.0,1.0,3263087,42,1
Bread - Rye,NaN,NaN,NaN,5045745,337,1
Cake - Cake Sheet Macaroon,NaN,NaN,NaN,5722515,190,1
"Cheese - Brie, Triple Creme",NaN,NaN,NaN,4159118,30,1
Cheese - Cambozola,4701447.0,444.0,1.0,475756,444,1
Cheese - Mix,NaN,NaN,NaN,945276,285,1
Cheese - Mozzarella,NaN,NaN,NaN,5850945,147,1
Cheese - Wine,NaN,NaN,NaN,6398117,71,1
"Chestnuts - Whole,canned",NaN,NaN,NaN,2580113,226,1
Chinese Foods - Chicken,6114734.0,261.0,1.0,3223928,261,1
Cinnamon Buns Sticky,NaN,NaN,NaN,1318530,55,1
Cookies Cereal Nut,NaN,NaN,NaN,809788,331,1
Fenngreek Seed,11921565.0,820.0,2.0,5245610,410,1
Flavouring - Orange,NaN,NaN,NaN,3125595,90,1
Flour - Whole Wheat,NaN,NaN,NaN,117790,1,1
Garlic,6602585.0,238.0,1.0,5402154,238,1
"Garlic - Primerba, Paste",NaN,NaN,NaN,4303900,422,1
Halibut - Steaks,9157110.0,24.0,3.0,1785147,8,1
Ice Cream Bar - Hageen Daz To,NaN,NaN,NaN,335026,246,1
Jolt Cola - Electric Blue,6641905.0,82.0,1.0,3417329,82,1
Juice - Apple Cider,NaN,NaN,NaN,2580042,494,2
Juice - V8 Splash,6301833.0,264.0,1.0,6178281,264,1
Ketchup - Tomato,10382660.0,234.0,2.0,4948489,117,1
Langers - Ruby Red Grapfruit,NaN,NaN,NaN,5857526,150,1
"Liners - Banana, Paper",NaN,NaN,NaN,2142570,54,1
Milk - 2%,6648211.0,168.0,1.0,5724132,168,1
Napkin White - Starched,NaN,NaN,NaN,6060079,452,1
Ocean Spray - Ruby Red,622468.0,115.0,1.0,2939473,115,1
Olive - Spread Tapenade,4952765.0,786.0,2.0,2773633,393,1
"Oranges - Navel, 72",6069521.0,502.0,2.0,3638038,251,1
"Oregano - Dry, Rubbed",4195531.0,280.0,2.0,4306492,140,1
Pastry - Choclate Baked,6518065.0,890.0,2.0,5902301,445,1
"Peas - Pigeon, Dry",97609.0,155.0,1.0,1606335,155,1
"Pepper - Paprika, Hungarian",5180978.0,120.0,2.0,4307662,60,1
Pernod,4442690.0,356.0,2.0,3148889,178,1
Pomello,5362820.0,389.0,1.0,801156,389,1
Pork - Hock And Feet Attached,10192123.0,398.0,2.0,5230518,199,1
"Pork - Loin, Center Cut",6555259.0,329.0,1.0,2421178,329,1
Puree - Mocha,5466045.0,349.0,1.0,4374446,349,1
Salmon - Sockeye Raw,5446760.0,312.0,1.0,762708,312,1
Sardines,7086430.0,122.0,2.0,3611580,61,1
"Sauce - Gravy, Au Jus, Mix",339673.0,4.0,1.0,3899520,4,1
Scallops - Live In Shell,1634217.0,426.0,1.0,6159064,426,1
"Seedlings - Mix, Organic",NaN,NaN,NaN,333746,390,1
Soupcontfoam16oz 116con,NaN,NaN,NaN,3967558,25,1
Sprouts - Baby Pea Tendrils,3833367.0,386.0,1.0,1370823,386,1
Squid - Tubes / Tenticles 10/20,2186614.0,70.0,1.0,9638351,140,2
Tea - English Breakfast,6260248.0,258.0,1.0,3520833,258,1
V8 - Berry Blend,NaN,NaN,NaN,1887020,94,1
"Veal - Inside, Choice",6555963.0,386.0,2.0,4145779,193,1
"Water, Tap",5622213.0,26.0,2.0,4871399,13,1
Wine - Magnotta - Belpaese,6406668.0,156.0,2.0,4773200,78,1
Wine - Toasted Head,NaN,NaN,NaN,4729065,268,2
Wine - Two Oceans Cabernet,NaN,NaN,NaN,2256366,372,1

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.